.mediaViewInfo {
	--web-view-name: Pineapple Page;
	--web-view-id: Pineapple_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Pineapple_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Pineapple_Page_Class {
	position: absolute;
	width: 1349px;
	height: 1486px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Pineapple Page;
	--web-view-id: Pineapple_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
.Rectangle_9_Class {
	fill: rgba(13,19,113,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 918px;
	height: 92px;
	left: 0px;
	top: 0px;
}
.FluffyPineapple_Bot_Class {
	left: 128px;
	top: 22px;
	position: absolute;
	overflow: visible;
	width: 348px;
	white-space: nowrap;
	text-align: left;
	font-family: MS Reference Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(243,199,46,1);
}
.rmhs_Class {
	position: absolute;
	width: 96px;
	height: 70px;
	left: 18px;
	top: 1396px;
	overflow: visible;
}
.favicon-96x96_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.favicon-96x96_m_Class {
	position: absolute;
	width: 96px;
	height: 96px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_5_Class {
	fill: rgba(80,76,142,1);
	stroke: rgba(243,199,46,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_5 {
	overflow: visible;
	position: absolute;
	width: 388px;
	height: 534.433px;
	left: 48px;
	top: 111px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_7_Class {
	fill: rgba(80,76,142,1);
	stroke: rgba(243,199,46,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_7 {
	overflow: visible;
	position: absolute;
	width: 388px;
	height: 534.433px;
	left: 48px;
	top: 685px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_15_Class {
	fill: rgba(80,76,142,1);
	stroke: rgba(243,199,46,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 1349px;
	height: 127px;
	left: 0px;
	top: 1359px;
}
.Created_by_Simon_Hall_and_Bray_Class {
	left: 18px;
	top: 1449px;
	position: absolute;
	overflow: visible;
	width: 289px;
	white-space: nowrap;
	text-align: left;
	font-family: MS Reference Sans Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(243,199,46,1);
}
.Rectangle_16_Class {
	fill: rgba(38,31,143,1);
	stroke: rgba(243,199,46,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 431px;
	height: 92px;
	left: 918px;
	top: 0px;
}
.BACK_Class {
	left: 1079px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 111px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 46px;
	color: rgba(243,199,46,1);
}
.Path_9_Class {
	fill: rgba(80,76,142,1);
	stroke: rgba(243,199,46,1);
	stroke-width: 5px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 388px;
	height: 534.433px;
	left: 686px;
	top: 552px;
	transform: matrix(1,0,0,1,0,0);
}
.Fluffyexample_Class {
	position: absolute;
	width: 393px;
	height: 472px;
	left: 675px;
	top: 562px;
	overflow: visible;
}